:root {
  --color-primary: #584a99;
  --color-secondary: #efe8f6;
  --color-light: #f7f7f7;
  --color-error: #f75e4b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1200px;
  margin: auto;
}

header {
  color: var(--color-primary);
  padding: 30px 0;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 40px;
}

#products > div {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 40px;
  padding: 10px;
}

#products img {
  width: 240px;
  border-radius: 25px;
}

#product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-secondary);
  width: 100%;
  border-radius: 25px;
  height: 120px;
  padding: 25px;
  margin-top: 30px;
}

#product-info h3 {
  color: var(--color-primary);
  font-size: 1.1rem;
}

#product-info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#product-info span {
  font-size: 1.1rem;
  color: gray;
}

#product-info button {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: none;
  line-height: 30px;
  border-radius: 50px;
  font-size: 1.8rem;
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: rgba(149, 157, 165) 0px 10px 20px;
  transition: all 0.2 ease-in;
}

#product-info button:hover {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 40%;
}

#cart h3 {
  background-color: var(--color-primary);
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  font-size: 1.5rem;
  border-radius:  25px;
  margin-bottom: 30px;
  cursor: pointer;
}

#cart-list {
  width: 330px;
}

#cart-list h5 {
  color: var(--color-error);
  border: 2px solid var(--color-error);
  padding: 30px 0;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  cursor: pointer;
}

#cart-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--color-light);
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 20px;
}

#cart-list img {
  border-radius: 50%;
  width: 60px;
}

#cart-info {
  text-align: center;
}

#cart-info h4 {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

#cart-info p {
  color: gray;
}

#cart-control div {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#cart-control div button {
  background: var(--color-secondary);
  border: none; 
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2 all ease-in;
}

#cart-control div button:hover {
  background: var(--color-primary);
  color: #fff;
  border-radius: 40%;
}

#cart-control > button {
  background-color: #fff;
  border: 1px solid var(--color-error);
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
  color: var(--color-error);
  cursor: pointer;
  transition: 0.2s all ease-in;
}

#cart-control > button:hover {
  background-color: var(--color-error);
  color: #fff;
}

#total-price {
  border: 2px solid var(--color-secondary);
  padding: 20px;
  border-radius: 20px;
  color: grey;
}

#total-price span {
  color: var(--color-primary);

}

